<!-- <p>template-sample works!</p> -->
<div style="padding-right:15px;" class="container-fluid">

    <!-- form header -->
    <div class="row">
      <div class="col">
        <h1>Template Driven Forms</h1>
        <hr>
      </div>
    </div>

    
    <div class="row">
      <div class="col">
        <form class="row g-3" #myForm="ngForm">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">First Name</label>
              <input ngModel name="firstName" [(ngModel)]="user.fname" type="text" class="form-control"
              [ngClass]="{'form-control':true,
                        'is-invalid':!myForm.form.controls['firstName'].valid  
                    }"
              id="inputEmail4" required minlength="2">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Last Name</label>
              <input ngModel name="lastName" [(ngModel)]="user.lname" type="text" class="form-control" id="inputPassword4">
            </div>

            <div class="row" ngModelGroup="address">

                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input ngModel name="address" #address="ngModel" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
                  </div>
                  <span *ngIf="address.invalid && address.touched " style="color:red">Please enter valid Address</span>

                <div class="col-12 p-3">
                    <label class="form-check-label pe-5" >Choose Type</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" ngModel name="addressType" id="inlineRadio1" value="Correspondance">
                            <label class="form-check-label" for="inlineRadio1">Correspondance</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" ngModel name="addressType" id="inlineRadio2" value="Parmananat">
                            <label class="form-check-label" for="inlineRadio2">Parmananat</label>
                          </div>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input ngModel name="city" type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select ngModel name="state" id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option *ngFor="let state of states">{{state}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input  ngModel name="zip" type="text" class="form-control" id="inputZip">
            </div>
            </div>
                    
            <!-- <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div> -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary" (click)="submitHandler(myForm)">Submit</button>
            </div>
          </form>
      </div>
    </div>
  
  </div>
