<form class="row g-3" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">First Name</label>
        <input formControlName="firstName" type="text" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Adhaar</label>
        <input formControlName="adhaar" type="text" class="form-control">
      <!-- Adhaar Validation -->
                <div style="color:red" 
                *ngIf="userForm.controls['adhaar'].invalid 
                && (userForm.controls['adhaar'].touched || userForm.controls['adhaar'].dirty)">
                <div *ngIf="userForm.controls['adhaar'].errors?.['required']">
                    Please enter Adhaar Number
                </div>
                <div *ngIf="userForm.controls['adhaar'].errors?.['pattern']">
                    Adhaar should have 12 digits & have white space after every 4 digits.
                    alphabet,special characters not allowed & It should not start with 0 and 1.
                </div>
            </div>    
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" id="inputPassword4">
    </div>


    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">PAN</label>
        <input formControlName="pan" type="text" class="form-control">


      <!-- Validation pan -->
                <div style="color:red" 
                *ngIf="userForm.controls['pan'].invalid 
                && (userForm.controls['pan'].touched || userForm.controls['pan'].dirty)">
                <div *ngIf="userForm.controls['pan'].errors?.['required']">
                    Please enter Pan Number
                </div>
                <div *ngIf="userForm.controls['pan'].errors?.['pattern']">
                    It should be ten characters long.
                    The first five characters should be any upper case alphabets.
                    The next four-characters should be any number from 0 to 9.
                    The last(tenth) character should be any upper case alphabet.
                    It should not contain any white spaces.
                </div>
            </div>    
    </div>


    <div class="row" formGroupName="address">

        <div class="col-12">
            <label for="inputAddress" class="form-label">Address1</label>
            <input formControlName="address1" type="text" class="form-control" id="inputAddress"
                placeholder="1234 Main St" required>
        </div>


        <div class="col-12 p-3">
            <label class="form-check-label pe-5">Choose Type</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="addressType" name="addressType"
                    id="inlineRadio1" value="Correspondance">
                <label class="form-check-label" for="inlineRadio1">Correspondance</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="addressType" name="addressType"
                    id="inlineRadio2" value="Parmananat">
                <label class="form-check-label" for="inlineRadio2">Parmananat</label>
            </div>
        </div>

        <div class="col-md-6">
            <label for="inputState" class="form-label">State</label>
            <select formControlName="state" id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option *ngFor="let state of states">{{state}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputZip" class="form-label">Zip</label>
            <input formControlName="zip" type="text" class="form-control" id="inputZip">
        </div>
        
    </div>

    <!-- FormArray -->
    <div class="col align-self-end">
        <button class="btn btn-secondary m-2" (click)="addNewMobile()">Add new Mobile</button>
    </div>
    <div class="row">
        <!-- <div class="col-md-4 bg-success"> <p>ghfhf</p></div> -->
        <div class="col-md-8 p-2" formArrayName="mobile">
            <div *ngFor="let mob of userForm.controls.mobile.controls; index as i">
                <label for="inputZip" class="form-label">Mobile{{i+1}}</label>
                <input [formControlName]="i" type="text" class="form-control" id="inputZip">
                <!-- <input formControlName="mobile" type="text" class="form-control" id="inputZip"> -->
            </div>
        </div>
        </div>
    

 

    <!-- <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> -->
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-secondary p-2" (click)="resetVal()">Reset</button>

    </div>

</form>




<!-- Your form -->
<form [formGroup]="beneficiaryForm">
    <div formArrayName="beneficiaries">
      <div *ngFor="let beneficiary of beneficiaries.controls; let i = index">
        <div [formGroupName]="i">
          <label>Name</label>
          <input formControlName="name" type="text" />
  
          <label>Age</label>
          <input formControlName="age" type="text" />
  
          <label>Relationship</label>
          <input formControlName="relationship" type="text" />
  
          <button (click)="removeBeneficiary(i)">Remove</button>
        </div>
      </div>
    </div>
  
    <button (click)="addBeneficiary()">Add Beneficiary</button>
  </form>







  